/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
.App-header {
  background-image: url('../public/books.jpg');
  background-size: contain;
  background-position: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Header-text{
  color:rgb(255, 255, 255)
}

input[type="text"] {
  margin: 10px 0;
  padding: 10px;
  width: 230px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  width: 230px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
  background-color: #45a049;
}

.books-list {
  margin-top: 20px;
  text-align: left;
  display: inline-block;
}

.books-list ul {
  list-style-type: none;
  padding: 0;
}

.books-list li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.books-list li strong {
  font-weight: bold;
}

.message {
  margin-top: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-group {
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-group input {
  margin-right: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.book-add{
  padding: 10px;
}

.profile{
  
  justify-content: end;
  display: flex;
}

.result{
    align-items: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
  overflow: auto; 
}

.dropdown-container {
  position:absolute; /* This makes the dropdown menu's absolute positioning relative to this container */
  display: flex;
  text-align: right; /* Aligns the button to the right if needed */
}

.dropdown-menu {
  position: absolute;
  top: 20.5%; /* Positions the dropdown directly below the button */
  list-style: none;
  right:6px;
  padding: 0;
  margin: 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 110px;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.file-upload {
  padding: 8px;
  display:block;
  align-items: center;
  gap: 10px;
}

.custom-file-upload {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.file-name {
  font-size: 14px;
  padding: 7px;
  color: #333;
}
.remove-file {
  background-color: transparent;
  color: #ff0000;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.remove-file:hover {
  color: #cc0000;
  background-color: transparent;
}